//.background{
//  height:75vh;
//
//
//  position:relative;
//  background: url("/images/background-code.jpg") no-repeat center center fixed;-webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;width:100%;margin:0
//}
html {
  scroll-behavior: smooth;
}

html,body {
  margin :0;
  padding:0;
  height:100%;
  width:100%;
}
.intro{
  height: 100%;
  width: 100%;
  margin: auto;
  background: url("/images/background-code.jpg");
  background-size:cover;
  display :table;
  top:0;
}
.intro .inner{
  display:table-cell;
  vertical-align: middle;
  text-align: center;
  padding-bottom: 25%;
}
.content h1{
  font-family: 'Open Sans', sans-serif;
  color: #f9f3f4;
  font-size:550%;
  text-shadow: 3px 3px #098fa8;
}
.btn{
  font-size:150%;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color:#098fa8;
  border: 2px solid #098fa8;
  padding:10px 20px;
  border-radius:5px;
}
.btn:hover{
  color:#156377;
  border:2px solid #156377;
}
p{
  font-family: sans-serif;
  font-size: 120%;
  text-align: justify;
  line-height:190%;
}

.me{
    height:600px;
    width:100%;
    position:relative;
    background: url("/images/me/macboek2.jpg");
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:0
}
.projects img{
  max-height:175px;

}
.box {
  float:left;
  position:relative;
  display: block;

}
.box-text {
  display: none;
  width: 100%;
  position:absolute;
  top:30px;
  left:0;
  a,p{
    text-align: center;
    color:white !important;
  }
}

@media(max-width:768px) {
  .content h1{
    font-size:300%;
  }
  .btn{
    font-size:110%;
    padding:7px 15px;
  }
  a,p{
    font-size:100%;
    line-height:160%;
  }
  .box-text {
    width:150px;
    margin:0 auto;
    left:18%;

    h2{
    font-size:10%;
    line-height:160%;
    bottom:200px;
    position:absolute;
    }
  }
}
@media(max-width:1200px) {
.projects img{
  max-height:140px;
}
  .box-text{
    p{
      font-size:90% !important;
      line-height:50%;
    }
    h2{
      font-size:150% !important;
      line-height:50%;
    }
  }
}
@media(max-width:500px) {
  .box-text{
    p{
    font-size:90% !important;
    line-height:50%;
    }
    h2{

    }
  }
.projects img{
  max-height:90px;
}
}
.box-hover{
  background-color: black;
  position: absolute;
  width: 90%;
  height: 90%;
  display: none;
  opacity: 0.7;
}

.content .btn{
  margin-left:20px;
}
footer{
  a:hover{
    text-decoration:none;
  }
  .section-padding {
    padding: 60px 0;
  }
  .bottom {
    margin-top:50px;
    background-color: #0a1c2e;
  }
  .bottom .copyright {
    color: #e5e5e5;
    font-weight: 600;
  }
  .copyright a {
    color: #098fa8;
    margin-left: 3px;
    padding-right: 3px;
  }
  .bottom p {
    margin-bottom: 0;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
  }
  .copyright p span {
    color: #f9f3f4;
  }
  .bottom .copyright p, .bottom .copyright a:hover{
    color: #f9f3f4;
  }
}
.mail{
  color:white !important;
}
.skill-box{
  background-color:white;
  width:100%;
  height:auto;
  border-radius:25px;
  margin-top:25px;

  img{
    height:70px;
    display:block;
    margin:0 auto;
    padding:25px 25px 0 25px;
    margin-bottom:25px;
  }
  span{
    text-align: center;
    display:block;
    padding-bottom:25px;
  }
  i{
    color:black;
    margin:0 auto;
    width: max-content;
    display: block;
    padding:25px 25px 0 25px;
  }
}
.all-projects{
  .project-image{
    img{
      width:100%;
    }}
  .box-text{
    top:0;

    h2{
      font-size:20px;
    }
    p{
      font-size:80%;
    }
  }
}