// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Anton');
// Variables
@import "variables";
// Bootstrap
@import "bootstrap";
@import "_spaces";
//@import "_home";
@import "_oldWebsite";

html, body {
  height: 100vh;
  margin: 0;
}

html, body, h1, a, h2 {
  color: white;
  font-family: 'Anton', sans-serif;
  //font-family: 'Raleway', sans-serif;
}
